#####################################################################################
# Generated
#####################################################################################

## Build outputs.

### SvelteKit outputs.
build/
.svelte-kit/

#####################################################################################
# Development environment
#####################################################################################

## Local SQLite database.
prisma/dev.db
