#####################################################################################
# Generated
#####################################################################################

## Build outputs.

### SvelteKit outputs.
build/
.svelte-kit/
