#####################################################################################
# Generated
#####################################################################################

## SvelteKit output.
.svelte-kit/

## Vite build output.
build/
