#####################################################################################
# Generated
#####################################################################################

## Temporary build outputs from Next.js
.next/

## Build output.
out/
